.profile-closet-container {
  display: flex;
  height: 100%;
  width: 100%;
}
.profile-content-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-me-container {
  flex: 3;
  width: 80%;
  display: flex;
}

.about-me-border {
  height: 80%;
  width: 80%;
  margin: auto;
  display: flex;
  background-color: black;
}

.about-me {
  height: 92%;
  width: 92%;
  margin: auto;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.profile-photo-template {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
}
.about-me-text-container {
  flex: 1.25;
}
.profile-photo-container {
  flex: 2.75;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-photo-border {
  display: flex;
  background-color: black;
  width: 75%;
  aspect-ratio: 16/16;
  justify-content: center;
  align-content: center;
}
.profile-photo-holder {
  background-color: white;
  width: 90%;
  height: 90%;
  margin: auto;
}

.favorite-brand-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.post-it-container {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
}

.post-it-1-border {
  background-color: black;
  width: 25%;
  aspect-ratio: 1;
  transform: rotate(-21.27deg);
  display: flex;
}
.post-it-1 {
  width: 90%;
  height: 90%;
  background-color: white;
  margin: auto;
  display: flex;
  justify-content: end;
}

.pin-container-1 {
  width: 25%;
  height: 25%;
}
.pin-1 {
  width: 100%;
  transform: rotate(24deg);
}

.post-it-2-border {
  background-color: black;
  width: 25%;
  aspect-ratio: 1;
  transform: rotate(24.6deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.post-it-2 {
  width: 90%;
  height: 90%;
  background-color: white;
  display: flex;
}
.post-it-3-border {
  background-color: black;
  width: 25%;
  aspect-ratio: 1;
  transform: rotate(-18.51deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.post-it-3 {
  width: 90%;
  height: 90%;
  background-color: white;
  display: flex;
}
.pin-container-3 {
  width: 25%;
  height: 25%;
}
.pin-3 {
  width: 100%;
  transform: rotate(24deg);
}
.post-it-4-border {
  background-color: black;
  width: 25%;
  aspect-ratio: 1;
  transform: rotate(14.84deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-it-4 {
  width: 90%;
  height: 90%;
  background-color: white;
  display: flex;
}
.pin-container-4 {
  width: 25%;
  height: 25%;
}
.pin-4 {
  width: 100%;
  transform: rotate(-60deg);
}
.closed-closet-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.closed-closet {
  height: 85%;
  width: 90%;
}

.favorite-clothing-container {
  height: 100%;
  width: 40%;
  transform: rotate(-20.34deg);
  display: flex;
  flex-direction: column;
}

.clothing-image-1-container {
  flex: 1;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clothing-image-1 {
  background-color: white;
  width: 90%;
  height: 90%;
}
.clothing-image-2-container {
  flex: 1;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clothing-image-2 {
  background-color: white;
  width: 90%;
  height: 90%;
}
.clothing-image-3-container {
  flex: 1;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clothing-image-3 {
  background-color: white;
  width: 90%;
  height: 90%;
}
.clothing-image-4-container {
  flex: 1;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clothing-image-4 {
  background-color: white;
  width: 90%;
  height: 90%;
}
