.profile-photo-img {
  width: 100%;
}

.clothing_img_holder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.clothing-item-one-img {
  flex: 0 0 25%;
  object-fit: contain;
}

.edit-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: rotate(44.03deg);
}

.save-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding-right: 5%;
}
