.profile-photo-img {
  width: 100%;
}

.clothing_img_holder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Optional: prevents image overflow */
}
.clothing-item-one-img {
  flex: 0 0 25%; /* grow:0, shrink:0, basis:25% of container height */
  object-fit: contain;
}
