<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://kit.fontawesome.com/80b31ca5d3.js" crossorigin="anonymous"></script>
</head>
<body>

  <div class = "browser">
	  <div class = "upper-browser-container">
	    <div class="tab-container">
	      <div class="browser-tab-1"></div>
	      <div class="browser-tab-2"></div>
	      <div class="browser-tab-3"></div>
	    </div>
	    <div class = "url-container">
	    	<div class = "page-arrows-container">
	    		<div class = "forward-arrow-container">
					<i class="fa-solid fa-arrow-right fa-2xl"></i>
	    		</div>
	    		<div class = "backward-arrow-container">
	    			<i class="fa-solid fa-arrow-left fa-2xl"></i>
	    		</div>
	    		
	    	</div>
	    	
	    	<div class = "search-url-container">
			    	<div class = "search-container">
			    		<i class="fa-solid fa-magnifying-glass fa-2xl" style="color: #5f5d65;"></i>
			    	</div>
		    	<div class = "url"></div>
	    	</div>
	    </div>
	  </div> 
  </div>

</body>
</html>
